<header class="page-header">
  <div class="page-header-inner">
    <a href="#" class="logo-link">NATUM</a>
    <a href="#" class="opener-icon"
      ><img class="lines" src="https://github.com/franklysatoh/natum/tree/main/src/assets/icons/menu-icon.png"
    /></a>
  </div>
</header>
<div class="page-outer">
  <div class="page-inner">
    <main class="page-content">
      <section class="advertise">
        <div class="background-text">
          <div class="background-text-wrapper">
            <span class="text-char">N</span>
            <span class="text-char">A</span>
            <span class="text-char">T</span>
            <span class="text-char">U</span>
            <span class="text-char">M</span>
          </div>
        </div>
        <span class="tag">INTERIOR DESIGN MATTERS</span>

        <div class="title">
          We reach beyond established trends and apply new creative solutions.
        </div>
      </section>

      <section class="product">
        <div class="product-title-wrapper">
          <span class="product-title">ALL</span>
          <span class="product-title">|</span>
          <span class="product-title">INSPIRE</span>
          <span class="product-title">|</span>
          <span class="product-title">MOTIVATE</span>
          <span class="product-title">|</span>
          <span class="product-title">NATUM</span>
        </div>

        <div class="product-list">
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
          <div class="product-list-item">
            <img
              src="https://images.unsplash.com/photo-1630370448217-c12a2889439e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"
              alt=""
            />
          </div>
        </div>
      </section>
    </main>
  </div>
</div>
<footer class="footer">
  <div class="footer-wrapper">
    <div class="block">
      <a href="#" class="logo-link">NATUM</a>
    </div>
    <div class="block">
      <div class="text-wrapper">
        <img src="https://github.com/franklysatoh/natum/tree/main/src/assets/icons/mail.png" alt="" />
        <span>contact@natum.com</span>
      </div>
      <div class="text-wrapper">
        <img src="https://github.com/franklysatoh/natum/tree/main/src/assets/icons/instagram.png" alt="" />
        <span>@natum</span>
      </div>
    </div>
    <div class="block">
      <div class="text-wrapper">
        <span>all about us</span>
      </div>
      <div class="text-wrapper">
        <span>products</span>
      </div>
      <div class="text-wrapper">
        <span>contact us</span>
      </div>
    </div>
  </div>
</footer>
<div class="bottom-area">
  <div class="bottom-area-wrapper">
    <div class="text">
      © 2021 QODE INTERACTIVE, ALL RIGHTS RESERVED
    </div>
  </div>
</div>
